@media (max-width: 640px) {
.Guesttopwrapper{
        padding: 0 .7rem;
    }
}

@media (max-width: 768px) {
.Guesttopwrapper{
        padding: 0 .5rem;
    }
}

.trending{
    max-width: 100%;
    background-color: #e87528;
}


@media (max-width: 640px) {
    .trendbar{
        display: none;
    }
}

@media (max-width: 768px) {
    .trendbar{
        display: none;
    }
}
@media (max-width: 834px) {
    .trendbar{
        max-width: 100%;
        padding: auto 10px;
    }
}

.topbar{
    display: flex;
}

.topbaricon{
    /* height: ; */
}

@media (max-width: 640px) {
    .topbar{
        height: 90px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .topbaricon{
        width: 60%;
        margin-bottom: 2rem;
    }
    .topbarbanner{
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .topbar{
        height: 90px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .topbaricon{
        width: 60%;
        margin-bottom: 2rem;
    }
    .topbarbanner{
        width: 100%;
        height: 200px;
    }

}

.navbar{
    min-height: 5rem
}

.navlink{
    display: flex;
}

.leftbaricon{
    display: none;
}

@media (max-width: 640px) {
    .navbar{
        min-height: 2rem;
    }
    .navlink{
        display: none;
    }
    .leftbaricon{
        display: block;
    }
    .weather{
        display: none;
    }
}

@media (max-width: 768px) {
    .navlink{
        display: none;
    }
    .leftbaricon{
        display: block;
        font-size: 20px;
    }
    .weather{
        display: none;
    }
}

.newsbar{
    margin: 5px 5px;
}

.newsbar .slider-item{
    display: flex;
}

@media (max-width: 640px) {
    .newsbar .slider-item{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .newsbar .slider-item img{
       width: 70px;
       height: 70px;
    }
}

@media (max-width: 768px) {
    .newsbar .slider-item{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .newsbar .slider-item img{
        width: 40%;
        height: 90px;
        margin: auto;
     }
}

